<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/profile.css">
</head>
<body>
    <div class="container">
         <div class="centre">
             <div class="circle">

             </div>
             <h3><%= data.name %></h3>
             <small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo eligendi eos aspernatur sapiente quisquam? Qui dolorum nemo ipsam, placeat esse, fugit quod architecto distinctio sapiente, animi ipsum adipisci est natus minima perspiciatis nisi voluptas autem eum nostrum eos dignissimos modi.</small>
         </div>
    </div>
</body>
</html>