*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}
html, body{
  width: 100%;
  height: 100%;
}
.container{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgb(56, 56, 231), rgb(10, 10, 112));
}
.centre{
  width: 30%;
  height: 60%;
  padding: 50px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.centre h3{
  text-align: center;
}
.form-control{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.btn{
  padding: 10px 30px;
  background-color: rgb(13, 13, 129);
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(19, 19, 179);
}
.form-group{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.txt{
  border: none;
  padding: 5px;
  border-bottom: 2px solid black;
  outline: none;
  transition: 0.3s all ease-in-out;
}
.txt:hover{
  border-bottom: 2px solid rgb(29, 141, 29);
  transform: scale(1.1);
}